<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKLanguageBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6ABD7C7015ECECE8003A927C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ABD7C8B15ECECE8003A927C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ABD7CBB15ECEE8A003A927C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ABD7CCD15ECEF04003A927C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
